<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Chess</title>

<style>
body {
    background:#0f172a;
    color:white;
    font-family:system-ui;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:12px;
}

.chessboard {
    display:grid;
    grid-template:repeat(8,1fr)/repeat(8,1fr);
    width:400px;
    aspect-ratio:1;
    border-radius:12px;
    overflow:hidden;
}

.square {
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:32px;
}
.light { background:#f0d9b5; }
.dark { background:#b58863; }

button {
    padding:8px 14px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}
</style>
</head>

<body>

<h2 id="status">Connecting...</h2>
<button id="restart">Restart Game</button>
<div class="chessboard"></div>

<script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"></script>
<script src="/public/javascript/chessgame.js"></script>
</body>
</html>
